<div class="quiz-container">
  <div class="container">
    <div class="main">
      <div class="quiz-fukidasi-img">
        <%= image_tag "quiz_fukidasi.png" %>
      </div>
      <p>聴こえた音声を覚えて録音してみよう！<br>上手く言えると何言ってるかわかります！</p>
      <div class="quizzes">
        <p><%= link_to "初級", "quizzes/1", class: "quizzes-text" %></p>
        <p><%= link_to "中級", "quizzes/2", class: "quizzes-text" %></p>
        <p><%= link_to "上級", "quizzes/3", class: "quizzes-text" %></p>
      </div>
    </div>
  </div>
</div>