<div class="quiz-container">
  <div class="container">
    <div class="main">
      <div class="quiz-title-area">
        <h2>1人で遊ぶ</h2>
        <p>問題</p>
      </div>
        <p>録音しながらメッセージを読み上げてね！<br>上手く言えると何言ってるかがわかります！</p>
      <div class="quizzes">
        <h2>かんたん</h2><br>
        <% @easy_quizzes.each do |easy| %>
          <%= link_to quiz_path(easy), class: "quizzes-text" do %>
            <%= easy.question %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
