<div class="container">
  <div class="main">
    <h2>メッセージサンプル</h2>
    <div class="message-sample-area">
      <p>こんにちは</p>
      <p>おつかれさま</p>
      <p>ひさしぶり</p>
      <p>りょうかい</p>
      <p>ありがとう</p>
    </div>
    <p class="sample-description">色々なワードで試してみてね！</p>
  </div>
</div>
