<div class="container">
  <div class="main">
    <h2>メッセージサンプル</h2>
    <%= image_tag "message_sample.png", class: "message-sample-img" %><br>
    <p class="sample-description">その他、動物の名前、<br>アニメのキャラクター名など<br>色々なワードで試してみてね！</p>
  </div>
</div>