<div class="container">
  <div class="main">
    <h2>プライバシーポリシー</h2>
    <div class="privacy">
      <h2>取得する情報</h2>
        <p>本サービスはユーザーから以下の情報を取得します。</p>
        <ul>
          <li>Cookie（クッキー）を用いて生成された識別情報</li>
          <li>OSが生成するID、端末の種類、端末識別子等のユーザーが利用するOSや端末に関する情報</li>
          <li>本サービスの滞在時間、入力履歴等の本サービスにおけるユーザーの行動履歴</li>
          <li>本サービスの起動時間、入力履歴等の本サービスの利用履歴</li>
          <li>ユーザーの音声データ</li>
        </ul>
      <h2>ユーザーの情報を利用する目的</h2>
        <p>本サービスは、ユーザーから取得した情報を以下の目的のために利用します。</p>
        <ul>
          <li>本サービスにおけるユーザーの行動履歴を分析し、本サービスの維持改善に役立てるため</li>
          <li>市場分析、マーケティングのため</li>
          <li>ユーザーからのお問い合わせに対応するため</li>
          <li>本サービスの規約や法令に違反する行為に対応するため</li>
          <li>以上の他、本サービスの提供、維持、保護及び改善のため</li>
        </ul>
      <h2>第三者提供</h2>
        <p>本サービスは、ユーザーから取得する情報のうち、個人データ（個人情報保護法第２条第６項）に該当するものついては、あらかじめユーザーの同意を得ずに、第三者（日本国外にある者を含みます。）に提供しません。</p>
        <p>但し、次の場合は除きます。</p>
        <ul>
          <li>個人データの取扱いを外部に委託する場合</li>
          <li>本サービスが買収された場合</li>
          <li>事業パートナーと共同利用する場合（具体的な共同利用がある場合は、その内容を別途公表します。）</li>
          <li>その他、法律によって合法的に第三者提供が許されている場合</li>
        </ul>
      <h2>アクセス解析ツール</h2>
        <p>本サービスは、ユーザーのアクセス解析のために、「Googleアナリティクス」を利用しています。Googleアナリティクスは、トラフィックデータの収集のためにCookieを使用しています。トラフィックデータは匿名で収集されており、個人を特定するものではありません。Cookieを無効にすれば、これらの情報の収集を拒否することができます。詳しくはお使いのブラウザの設定をご確認ください。Googleアナリティクスについて、詳しくは以下からご確認ください。<br>https://marketingplatform.google.com/about/analytics/terms/jp/</p>
      <h2>プライバシーポリシーの変更</h2>
        <p>本サービスは、必要に応じて、このプライバシーポリシーの内容を変更します。<br>また、変更後のプライバシーポリシーを掲載した時点から効力が生じるものとします。</p>
    </div>
  </div>
</div>