<%# <%= javascript_pack_tag 'hello_vue.js' %>
<%# <div id='vue-app'></div> %>
<div class="container">
  <div class="main">
    <%= image_tag "top_fukidasi.png", class: "top-fukidasi" %>
    <div>
      <%= link_to "メッセージ作成" , new_message_path %>
    </div>
    <div>
      <%= link_to "クイズ一覧ページ" , quizzes_path %>
    </div>
  </div>
</div>