<p>このページを共有しよう！</p>
<input id="copyTarget" type="text" value="<%= "#{url}" %>" readonly>
<button onclick="copyToClipboard()">リンクをコピー</button>
<br>LINE&Twitter
<script>
  function copyToClipboard() {
    let copyTarget = document.getElementById("copyTarget");
    copyTarget.select();
    document.execCommand("Copy");
    alert("コピーしました！ : " + copyTarget.value);
  }
</script>