<div class="container">
  <div class="main">
    <p>逆再生化したいメッセージを入力しよう！</p>
    <p>例：「ありがとう」は「うおつあぎら」になるよ！</p>
    <%= form_with model: @message, local: true do |f| %>
      <%= f.hidden_field :uuid %>
      <%= f.text_area :message, maxlength: "30" %><br>
      <%= f.submit "保存して共有ページへ", class: "bg-warning text-white text" %>
    <% end %>
    <p>変換できたら共有ページに移動するよ！</p>
  </div>
</div>