<div class="container">
  <div class="main">
    <p>逆再生してメッセージを解読しよう！<br>※左から右に文字を読んでください</p>
    <div class="reverse-message-area">
      <%= "#{@message.reverse_message}" %>
    </div>
    <div>
      <input type="hidden" id="rate" size="3" value="1.0"/>
      <div>
        <button class="message-btn start" id="start">録音開始</button>
      </div>
      <div>
        <button class="message-btn stop" id="stop">録音停止</button>
      </div>
      <div>
        <audio id="audio"></audio>
        <div>
          <button class="message-btn playback" id="btn">再生</button>
        </div>
        <div>
          <button class="message-btn reverse-playback" id="reverse_btn">逆再生</button>
        </div>
      </div>
      <div>
        <button class="message-btn reset" id="reload">音声をリセット</button>
      </div>
      <%= render "messages/share_link", url: @url %>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'recording' %>