<% set_meta_tags og: {image: "https://res.cloudinary.com/dp7jb0ugp/image/upload/l_text:Sawarabi%20Gothic_70_bold:#{@message.reverse_message},co_rgb:363636,w_900,c_fit/v1650191238/message_ogp_ocuny9.png", title: "メッセージが届きました！逆再生化された文字列を録音し解読してね！", description: "逆再生メッセージ「ちょっと何言ってるかわからない」"},
            twitter: {card: "summary_large_image"} %>
<div class="container">
  <div class="main">
    <div class="message-show-area">
      <h3 class="message-title-text">逆再生してメッセージを解読しよう！</h3>
      <p class="message-top-text">左から右に文字を読んでね！</p>
      <div class="reverse-message-area">
        <%= "#{@message.reverse_message}" %>
      </div>
        <%= render partial: 'shared/recording' %>
        <%= render "shared/share_link", url: @url %>
      </div>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'recording' %>