// Place all the styles related to the api::message controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.url-btn {
  margin-bottom: 15px;
}

.message-share {
  text-decoration: none;
  color: rgb(54, 54, 54);
}

.message-share:hover {
  color: rgb(95, 95, 95) ; 
}