<footer class="#">
  <div class="footer">
    <nav class="footer-area">
      <%= link_to "利用規約", terms_path, class: "link" %>
      <%= link_to "プライバリシーポリシー", privacy_path, class: "link" %>
      <%= link_to "お問い合わせ", "#", class: "link" %>
      <div class="#">© Copyright 2022. All Rights Reserved.</div>
    </nav>  
  </div>
</footer>