<footer>
  <div class="footer">
    <nav class="footer-area">
      <%= link_to "利用規約", terms_path, class: "footer-link terms-of-use" %>
      <%= link_to "プライバリシーポリシー", privacy_path, class: "footer-link privacy-policy" %>
      <%= link_to "お問い合わせ", "https://docs.google.com/forms/d/e/1FAIpQLSeA0DXnIzrYn3w9QJFINIlsCoTzzC0sogwyyU8XR_dR3Z6K7w/viewform?usp=sf_link", class: "footer-link" %>
    </nav>
    <div class="copy-right">© Copyright 2022. All Rights Reserved.</div>
  </div>
</footer>
