<footer>
  <div class="#">
    <%= link_to "利用規約", terms_path %>
    <%= link_to "プライバリシーポリシー", privacy_path %>
    <%= link_to "お問い合わせ", "#" %>
    <div class="#">© Copyright 2022. All Rights Reserved.</div>
  </div>
</footer>