<p class="attention">Google Chromeでご利用お願いします！<br>スマホで正常に動作しない場合は<br>再度アクセスいただくかPCでご利用お願いします！</p>
<div>
  <input type="hidden" id="rate" size="3" value="1.0"/> 
  <div>
    <button class="message-btn start" id="start">録音開始</button>
  </div>
  <div>
    <button class="message-btn stop" id="stop">録音停止</button>
  </div>
  <div>
    <audio id="audio" volume="1.0"></audio>
    <div>
      <button class="message-btn playback" id="btn">再生</button>
    </div>
    <div>
      <button class="message-btn reverse-playback" id="reverse_btn">逆再生</button>
    </div>
  </div>
  <div>
    <button class="message-btn reset" id="reload">音声リセット</button>
    <p class="message-top-text-reset">※もう一度録音する場合は<br>「音声リセット」を押してね！</p>
  </div>
<%= javascript_pack_tag 'recording' %>