.quiz-container {
  margin-top: -50px;
}

.quiz-show-container {
  margin-top: 50px;
}

.quiz-title-area {
  position: relative;
  display: inline-block;
  margin-top: -0px;
  margin-bottom: 20px;
  width: 250px;
  height: 135px;
  text-align: center;
  font-size: 16px;
  background: #fff;
  border-radius: 50px;
}

.quiz-title-area h2 {
  margin-top: 5px;
}

.quiz-title-area p {
  margin-top: -2px;
  font-size: 27px;
}

.quiz-title-area:before {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid #fff;
  z-index: 0;
}

.quizzes-text {
  text-decoration: none;
}

.quizzes-btn {
  color: rgb(54, 54, 54);
  font-size: 20px;
  background: #FAB400;
  border-radius: 30px;
  margin-top: 10px;
  padding: 13px 50px;
}

.quizzes-text:hover {
  color: rgb(95, 95, 95); 
}

.quizzes-btn {
  margin-top: 10px;
}

.quizzes p {
  margin-top: 25px;
}

.answer-btn {
  border-radius: 40px;
  background-color: #AC3E37;
  color: #fff;
  height: 70px;
  width: 200px;
  margin-top: 1px;
  -webkit-text-stroke: 0.3px rgb(54, 54, 54);
  border: none;
  font-weight: bold;
}
