.header {
  background-color: #ffb300;
  position: relative;
}

.img-area {
  height: 60px;
}

.img-title {
  position: absolute;
  height: 256px;
  top: -97px;
  left: -110px;
}

.header-message-sample {
  position: relative;
  // right: -800px;
  right: -80%;
  top: 15px;
}

.footer {
  background-color: #ffb300;
  text-align: center;
}

.footer-area {
  height: 60px;
  padding-top: 5px;
}

.footer-link {
  text-decoration: none;
  color: rgb(0, 0, 0) ;
  margin-right: 50px;
  margin-left: 50px;
}

.footer-link:hover {
  color: rgb(95, 95, 95) ; 
}
