// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.bg {
  background-color: #FFF3D6;
  font-family: "keifont";
}

.container {
  margin:0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.main {
  text-align: center;
  padding-top: 15px;
}

.top-fukidasi {
  width: 500px;
  margin-top: -350px;
}

.privacy {
  text-align: left;
}

.terms {
  text-align: left;
}