// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.bg {
  background-color: #FFF3D6;
  font-family: "keifont";
}

.container {
  margin:0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.main {
  text-align: center;
  padding-top: 15px;
  margin-top: 20px;
}

.top-link-group {
  padding-top: 20px;
}

.top-link {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 20px;
  padding-top: 100px;
}

.top-link:hover {
  color: rgb(95, 95, 95) ; 
}

.top-fukidasi {
  width: 500px;
  margin-top: -300px;
}

.privacy {
  text-align: left;
  word-break: break-all;
}

.terms {
  text-align: left;
}

.guide-text {
  margin-top: 15px;
}

.guide-send {
  margin-top: -105px;
}

.guide-receive {
  margin-top: -200px;
  margin-bottom: -90px;
}

.message-sample {
  margin-top: -100px;
}

.sample-description {
  margin-top: -190px;
  margin-bottom: 50px;
}

