// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.bg {
  background-color: #FFF3D6;
  font-family: "keifont";
}

.container {
  margin:0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding-bottom: 60px;
  box-sizing: border-box;
}

.top-container {
  margin-top: -100px;
}

.main {
  text-align: center;
}

.main h2 {
  color: rgb(54, 54, 54);
  padding-top: 30px;
}

.top-link-group {
  padding-top: 20px;
}

.top-link {
  text-decoration: none;
  color: rgb(54, 54, 54);
  font-size: 20px;
}

.adjustment {
  margin-bottom: -250px;
}

.top-link:hover {
  color: rgb(95, 95, 95); 
}

.top-fukidasi {
  width: 100%;
  margin-top: -200px;
}

.privacy {
  color: rgb(54, 54, 54);
  text-align: left;
  word-break: break-all;
  margin-top: -20px;
  margin-bottom: 40px;
}

.terms {
  color: rgb(54, 54, 54);
  text-align: left;
  margin-top: 15px;
  margin-bottom: 40px;
}

.guide-container {
  margin-top: -100px;
}

.guide-text {
  margin-top: 15px;
  color: rgb(54, 54, 54);
}

.guide-send {
  margin-top: -105px;
}

.guide-receive {
  margin-top: -200px;
  margin-bottom: -90px;
}

.message-sample-img {
  margin-top: -120px;
  margin-bottom: -10px;
}

.sample-description {
  margin-top: -190px;
  margin-bottom: 50px;
  color: rgb(54, 54, 54);
}
